// SPACINGS
$SPACING-1: 8px;
$SPACING-2: 16px;


// SIZES
$SIZE-HEADER-HEIGHT: 75px;
$SIZE-HEADER-HEIGHT-BIGGER: 160px;
$SIZE-CONTENT-HEADER-HEIGHT: 60px;

// COLORS
$COLOR-PRIMARY: #ff1c1c;
$COLOR-BG-MENU: #444;
$COLOR-WHITE: #fff;
